body {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    border: 2px solid #aaa;
    padding: .5rem;
}

input[type=range].rangebar {
  -webkit-appearance: none;
  width: 100%;
  margin: 22.5px 0;
}
input[type=range].rangebar:focus {
  outline: none;
}
input[type=range].rangebar::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(53, 108, 140, 0.14);
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range].rangebar::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 2.6px #0e0000, 0px 0px 0.5px #280000;
  border: 0.7px solid rgba(57, 43, 72, 0.73);
  height: 45px;
  width: 150px;
  border-radius: 3px;
  background: rgba(196, 167, 238, 0.46);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -22.5px;
}
input[type=range].rangebar:focus::-webkit-slider-runnable-track {
  background: rgba(53, 108, 140, 0.14);
}
input[type=range].rangebar::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(53, 108, 140, 0.14);
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range].rangebar::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 2.6px #0e0000, 0px 0px 0.5px #280000;
  border: 0.7px solid rgba(57, 43, 72, 0.73);
  height: 45px;
  width: 50px;
  border-radius: 3px;
  background: rgba(196, 167, 238, 0.46);
  cursor: pointer;
}
input[type=range].rangebar::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].rangebar::-ms-fill-lower {
  background: rgba(53, 108, 140, 0.14);
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].rangebar::-ms-fill-upper {
  background: rgba(53, 108, 140, 0.14);
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].rangebar::-ms-thumb {
  box-shadow: 0.5px 0.5px 2.6px #0e0000, 0px 0px 0.5px #280000;
  border: 0.7px solid rgba(57, 43, 72, 0.73);
  height: 45px;
  width: 150px;
  border-radius: 3px;
  background: rgba(95, 18, 110, 0.46);
  cursor: pointer;
  height: 0px;
}
input[type=range].rangebar:focus::-ms-fill-lower {
  background: rgba(53, 108, 140, 0.14);
}
input[type=range].rangebar:focus::-ms-fill-upper {
  background: rgba(53, 108, 140, 0.14);
}
